body, body * {
  font-family: 'Amatic SC', cursive;
}

.header {
  width: 100%;
  background:  #000;
  margin-bottom: 50px;
}

.nav-div-header {
  text-align: right;
}

.nav-element {
  margin: 0 5px;
}

h2 {
  display: inline-block;
  color: #0f0;
}

a:hover {
  text-decoration: none;
  color: #f00;
}

section {
  background: #000;
  margin: 25px auto;
  width: 90%;
  height: 500px;
}
